@{
    ViewData["Title"] = "Dashboard";
}

<br />
<h1 class="text-center"> Dashboard    </h1>


<div class="container h-100">
    <div class="row">
        <div class="col-lg-4">
            <div class="our-team-main">

                <div class="team-front">
                    <img src="https://placehold.it/110x110/db3758/fff?text=E" class="img-fluid" />
                    <h3 style="color : #db3758 ">EXAM</h3>
                    <p>Manage my exams</p>
                </div>

                <div class="team-back">
                    <span>
                        <br /><br />
                        <a class="text-primary font-weight-bold  font-italic " style="font-size:x-large" href="@Url.Action("Create","Exams")">CREATE</a>
                        <br />
                        <a class="text-primary font-weight-bold  font-italic" style="font-size:x-large" href="@Url.Action("Index","Exams")">MY EXAMS</a>
                    </span>
                </div>

            </div>
        </div>

        <div class="col-lg-4">
            <div class="our-team-main">

                <div class="team-front">
                    <img src="https://placehold.it/110x110/000000/fff?text=Q" class="img-fluid" />
                    <h3 style="color: #000000">QUESTION</h3>
                    <p>Manage my questions</p>
                </div>

                <div class="team-back">
                    <span>
                        <br /><br />
                        <a class="text-primary font-weight-bold  font-italic " style="font-size:x-large" href="@Url.Action("Create","Questions")">CREATE</a>
                        <br />
                        <a class="text-primary font-weight-bold  font-italic " style="font-size:x-large" href="@Url.Action("Index","Questions")">MY QUESTIONS</a>
                    </span>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
        <div class="our-team-main">

            <div class="team-front">
                <img src="https://placehold.it/110x110/6A5ACD/fff?text=F" class="img-fluid" />
                <h3 style="color : #6A5ACD">FEEDBACK</h3>
                <p>View feedback</p>
            </div>

            <div class="team-back">
                <span>
                    <br /><br />
                    <a class="text-primary font-weight-bold  font-italic " style="font-size:x-large" href="@Url.Action("","")">FEEDBACK RECEIVED</a>
                </span>
            </div>
        </div>
    </div>
</div>



@section Styles{
    <link href="@Url.Content("/css/dashboard.css")" rel="stylesheet" type="text/css" />
}