@model List<Evaluation.ViewModels.ExamCourse>

@{
    ViewData["Title"] = "My exams";
}


<div class="starrating risingstar d-flex justify-content-center flex-row-reverse"></div>
<br />
<p>
      <a asp-controller="Profesor" asp-action="Index"><i class="fas fa-arrow-alt-circle-left fa-2x"></i></a>
      <a asp-action="Create" class="btn btn-primary btn-sm float-right">Create New</a>
</p>
<table class="table table-hover table-sm table-bordered">
    <thead class="thead-light">
        <tr class="text-center">
            <th>  Date           </th>
            <th>  Course         </th>
            <th>  Difficulty     </th>
            <th>  Group          </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="text-center">
                <td>
                    @Html.DisplayFor(modelItem => item.examDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.courseName)
                </td>
                <td>
                    @for (var i = 0; i < item.examDifficulty; i++)
                    {
                        <i class="text-warning fa fa-star"></i>
                    }
                    @for (var i = item.examDifficulty + 1; i < 6; i++)
                    {
                        <i class="text-warning far fa-star"></i>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Group)
                </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Group">
                        <a asp-action="Details" asp-route-id="@item.eId" class="btn btn-primary btn-sm"><i class="fas fa-info"></i>  </a>
                        <a asp-action="Delete" asp-route-id="@item.eId" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i> </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
